<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <!-- (METODO_DA_CLASS_PAI_QUE_SERA_EXECUTADO) = "QUANDO_EXECUTAR_O_METODO_PAI_COM_BASE_NO_OUTPUT_DO_FILHO" -->
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
  <div
    *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria"
    class="container"
    style="margin-top: 50px"
  >
    <div class="row">
      <div class="col">
        <h3 style="color: red">Tente novamente!</h3>
        <div class="col text-center">
          <button class="btn btn-primary" (click)="reiniciarJogo()">
            Jogar novamente
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #fimDeJogoVitoria>
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <h3 style="color: green">Parabéns! Você ganhou! 🍾</h3>
        <div class="col text-center">
          <button class="btn btn-primary" (click)="reiniciarJogo()">
            Jogar novamente
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
